* {
  box-sizing: border-box;
}

body {
  background: rgb(237, 231, 231);
  padding: 0;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: o;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/loader.gif) center center no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.slides-container img {
  width: 50%;

  vertical-align: top;
}

/* .slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .slides-navigation a.prev {
  left: 30px;
  background-image: url(../img/icons/frame-c-arrow-left.png);
}

.slides-navigation .next {
  background-image: url(../img/icons/frame-c-arrow-right.png);
} */

#navigation {
  background-color: #ffdf60;
  padding: 1.6rem 0.8rem;
  z-index: 100;
  width: 100%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);
}

#navigation li {
  padding: 0 1rem;
}

#navigation li a {
  color: #535c68;
  font-weight: 600;
}

.navbar-brand,
.navbar-brand:hover {
  color: #e74c3c;
}

.navbar-toggler-icon {
  background: url(../img/1x/menu-6.png) !important;
  background-size: 100% !important;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.title-message {
  position: absolute;
  width: 100%;
  height: 15rem;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -7rem;
}

.title-message .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 200;
  letter-spacing: 7px;
}

.title-message .heading .main-title {
  font-size: 3.5rem;
}

.title-message .heading .sub {
  font-size: 2rem;
}

.section-bio {
  padding: 11rem 0;
  margin: 0 6rem;
}

.bio-info {
  text-align: right;
  padding: 0.8rem;
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  margin: auto;
}
.testimonial__image-container {
  width: 50%;
  min-width: 22rem;
  display: inline-block;
  vertical-align: middle;
}

.testimonial__image {
  width: 80%;
  vertical-align: top;
  margin: 0 4rem;
}

.header {
  margin: 3px;
  color: #3498db;
  text-align: center;
  font-size: 2rem;
}

.bio-text {
  padding-top: 1.5rem;
  margin: 3px;
  font-size: 1rem;
  text-align: center;
}

.skills-section {
  padding: 0 8rem;
  background: #ffdf60;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.skill-title {
  text-align: center;
  color: #535c68;
  font-size: 2rem;
  padding: 1.5rem 0;
}

.carousel-container {
  padding: 1.5rem 0;
}

.skill {
  text-align: center;
  margin-left: 0.8rem;
}

.skill h4 {
  padding: 1.3rem 0;
  color: #535c68;
  font-size: 1.3rem;
}

.chart {
  position: relative;
  width: 9rem;
  height: 9rem;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #000;
  line-height: 9rem;
  display: inline-block;
  font-size: 1.5rem;
}

.chart .percent:after {
  content: "%";
}

.title-project {
  text-align: center;
  padding-top: 8rem;
  display: block;
}

.chomp-change-title {
  text-align: center;
  color: #535c68;
  display: block;
  margin-left: 0rem;
  padding: 4rem 0;
}

.chomp-app-phone {
  margin-left: 31rem;
  display: inline;
  width: 10rem;
  height: 5rem;
}

.first-app {
  box-shadow: 3px 3px 5px 8px rgba(0, 0, 0, 0.2);
}

/* modal */

/* .modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
} */

/* modal */

.contactMe {
  color: #535c68;
}
.contactSection {
  padding: 8rem;
  text-align: center;
  background: #fff;
}

.contactButton {
  color: #3498db;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  display: inline-block;
  border: 3px solid #3498db;
  border-radius: 3px;
}

.contactButton:hover,
contactButton:active {
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
}

/* box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px -5px;
  

background-color: rgb(255, 255, 255);
    color: rgb(41, 44, 51);


    font-family: Graphik,Helvetica,Arial,sans-serif; */
